
<% if !user_signed_in? %>
<h1 class="head-t"> Let make some budget </h1>
<div class="welcome">
</div>
<div class="registration-links">
  <%= link_to "LOG IN", new_user_session_path, class: "btn btn-secondary" %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-secondary" %>
</div>
<% else %>
<script type="text/javascript">
  window.location.href="/groups"  
</script>
<% end %>